/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .b-logo,
    .b-header-slogan,
    .b-header-contact,
    .b-header-contact__button,
    .b-top-search,
    .b-search{
        display: block;
        width: 100%;
        text-align: center;
        clear: both;
    }
    .b-header-contact__item{
        width: 46%;
    }

    .b-top-search{
        margin: 3%;
    }
}

@media only screen and (max-width : 600px) {
    #b-scroll{
        right: -99999px;

    }

/*header    */
    .b-logo,
    .b-header-slogan,
    .b-header-contact,
    .b-header-contact__button,
    .b-top-search,
    .b-search{
        display: block;
        width: 100%;
        text-align: center;
        clear: both;
    }
    .b-header-contact__item{
        width: 46%;
    }
    .b-top-search{
        margin: 5px;
    }
    /*slider*/
    .b-top-slider__content{
        width: 100%;
        margin: 0 0 0 10%;
    }
    .b-top-slider__head,
    .b-top-slider__desc{
        width: 100%;
    }
    /*end slider*/

/*end header    */

/*b-features*/
    .b-features__item{
        margin: 0 4% 4% 0;
        width: 37%;
    }
/*end b-features*/

/*b-services*/
    .b-services__head{
        display: block;
        text-align: center;
    }

    .b-services__item,
    .b-services__item_2,
    .b-services__item_3{
        display: block;
        width: 100%;
        clear: both;
        margin: 0 0 3% 0;
    }
        .b-services__item:after{
            content: "";
            display: table;
            clear: both;
        }

    .b-services__img{
        float: left;
        margin: 0 2% 2% 0;
    }

    .b-company,
    .b-news{
        width: 100%;
    }
/*end b-services*/

/*b-product*/
    .b-product__item{
        width: 49%;
    }
/*end b-product    */
/*footer*/
    .b-copyright,
    .b-footer-menu,
    .b-footer-contact{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 0 5% 0;
    }
    .b-footer-menu:after{
        content: "";
        display: table;
        clear: both;

    }
    .b-footer-social__list{
       margin: 0 0 0 20%;
    }
/* end footer*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

/*header*/
    .b-header-contact__item{
        width: 100%;
        margin: 0 0 3% 0;
    }

    .b-search__input_text{
        width: 70%;
    }
    .b-search__input_sub{
        width: 20%;
    }

    .b-top-slider__content,
    .b-top-slider__content{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /*b-features*/
    .b-features__item{
        width: 100%;
        margin: 0 0 7% 0;
        text-align: center;
    }

    .b-features__link{
        display: block;
        text-align: center;
    }
    /*end b-features*/

    /*b-services*/
    .b-services__item{
        text-align: center;
        padding: 0;
    }

    .b-services__img{
        margin: 0 0 3% 25%;

        float: none;
    }
    /*end b-services*/

    .b-consultation__desc{
        padding: 0;
    }
    .b-consultation__button{
        position: static;
    }

    .b-slider-brend__item{
        width: 100%;
    }
/*end header*/

    /*footer*/
    .b-footer-menu__item{
        width: 47%;
    }
    /*end footer*/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .b-slider-brend__item,
    .b-product__item{
        width: 100%;
    }
}


@media only screen and (max-width : 240px) {

}

/* responsive slickMenu style */
@media screen and (max-width: 40em) {

    .js .slicknav_btn{
        background: #FF8A39;
        float: none;
        margin: 0 auto;
    }
    .js .slicknav_menu .slicknav_menutxt{
        float: none;
    }

    .js .slicknav_menu .slicknav_icon{
        float: right;
        margin: -0.88em 0 0 0.438em
    }

    .js .b-top-menu__list {
        display:none;

    }

    .js .slicknav_menu {
        display:block;
        background: #e65100;
    }
    .js .b-top-menu__item,
    .js .b-sub-top-menu__item{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        border-top: 1px solid #FF8A39;
        border-right: none;
    }

    .js .b-sub-top-menu__list,
    .js .b-sub-top-menu__list_child{
        position: relative;
        display: block;
        left: 0;
        width: 100%;
        overflow-y: visible;
        margin: 0;
    }

    .js .b-sub-top-menu__item:hover ul{
        margin: 0;
        width: 100%;
    }

    .b-sub-top-menu__link,
    .b-sub-top-menu__link_child{
        border: none;
    }
}

/*end responsive slickMenu style*/
